body{
    font-family: 'Bentham', serif;
    background-color: #565656;
}

h1{
    margin: 30px;
    font-weight: bolder;
    color: #6495ed;
    text-align: center;
    font-size: 40px;
    font-family:'Cambo', serif;
}

h2, h3{
    font-family:'Cambo', serif;
    color:#000000
}

footer{
    clear: both;
    text-align: center;
    padding-top: 20px;
}

nav{
    text-align: center;
}

nav a{
    margin-left: 20px;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
    background-color: #6495ed;
    color: #000000;
    padding: 7px 15px;
    border-radius: 20px;
    border: 3px solid #6495ed;
}

nav a:hover{
    color: #2286c3;
    background-color: #64b5f6;
}

.container{
    background-color: #64b5f6;
    width: 90%;
    padding: 10px;
    margin: 15px auto;
    overflow: auto;
}

img{
    width: 175px;
    height: 250px;
}

.left{
    clear: both;
    float: left;
}

.right{
    clear: both;
    float: right;
}

.center{
    clear: both;
    display: block;
    width: 60%;
    margin: 10px auto;
}

p{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    font-size: x-large;
}

ul{
    color: #000000;
    font-size: xx-large;
}

:root{
    --primary: #b71c1c;
    --primary_light: #f05545;
    --primary_dark: #7f0000;
    --secondary:#2962ff;
    --secondary_light: #768fff;
    --secondary_dark: #0039cb;
    --text: #ffff;

}

ul li a{
    padding-left: 30px;
    color: var(--primary_dark);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
}

ul li a:hover{
    text-decoration: underline;
    color: (--primary);
}